@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.underline-animation {
  position: relative;
  overflow: hidden;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.underline-animation:hover::after {
  width: 100%;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.rotate-right {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.rotate-left {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hide {
  opacity: 0;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 615px;
  margin: 0 auto;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 615px;
  margin: 0 auto;
}

.background-section {
  background: linear-gradient(to right, rgb(31,41,55), rgb(30,58,138), rgb(31,41,55));
}

.background-section-light {
  background: linear-gradient(to right, rgb(133, 140, 158), rgb(64, 75, 90));
}

.height-rsection {
  height: 450px;
}

.rotate-on-hover {
  transition: transform 0.3s ease;
}

.rotate-on-hover:hover {
  transform: rotate(3deg);
}

@keyframes fillAnimation {
  to {
    transform: scaleX(1);
  }
}

.animate-fill {
  animation: fillAnimation 5s linear infinite;
}

.navigation-points {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.point {
  width: 14px;
  height: 14px;
  background-color: rgb(207, 207, 207);
  border-radius: 50%;
  border: 3px solid rgb(30,58,138);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.point.active {
  background-color: rgb(30,58,138);
}

.text-standout {
  font-weight: 900;
  font-style: italic;
}